$placeholder: #5d40fb;

@mixin slide {
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.modal {
  transition: ease 0.3s all;
  background-color: white;
  position: fixed;
  color: #484364;

  // $width: 450px;

  width: 25%;

  min-width: 325px;
  max-width: 325px;

  top: 20vh;

  margin: 0;

  border-radius: 15px;

  display: flex;
  flex-direction: column;
  font-size: 15px;

  box-shadow: 4px 6px 19px 5px rgba(0, 0, 0, 0.49);

  @include slide;
  animation-name: slideInFromTop;
}

.logo_control {
  text-decoration: none;
}

.App {
  position: absolute;
  overflow: hidden;
  text-align: center;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
