$placeholder: #5d40fb;

.permissions {
  align-self: center;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50px;
  .permission {
    text-align: left;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    .permission-note {
      display: inline-block;
      background: $placeholder;
      height: 10px;
      width: 10px;
      border-radius: 5rem;
      margin-right: 10px;
    }
  }
}