$placeholder: #5d40fb;

@function set-text-color($color) {
  @if (lightness($color) > 45) {
    @return #333; // Lighter color, return black
  } @else {
    @return #e4e4e4; // Darker color, return white
  }
}

.head {
  display: flex;
  flex-direction: column;

  background-color: $placeholder;

  color: white;

  height: 125px;

  align-items: center;
  justify-content: center;

  padding: 5px 15px 5px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  a {
    color: white;
    text-decoration: none;
  }

  .did {
    background-color: darken($placeholder, 10%);
  }

  .logo-container {
    display: block;
    text-align: center;
    width: 100%;
    .logo {
      display: block;
      width: 100%;
    }
  }
  .image-container {
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: space-around;
    .avatar {
      svg,
      img {
        border: 3px solid white;
        border-radius: 50px;
      }
      img {
        height: 65px;
        width: 65px;
      }
    }
    .appIcon {
      $bkg: rgb(random(255), random(255), random(255));
      background-color: $bkg;
      color: set-text-color(($bkg));
      height: 65px;
      width: 65px;
      border: 3px solid white;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 5px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .avatar {
    margin-bottom: 20px;
  }
  .head-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
    // position: relative;
    // padding-top: 10px;
    .details {
      font-size: 13px;
      font-weight: 500;
      margin-top: 15px;
      a {
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        transition: ease padding-bottom 0.3s;
        &:hover {
          padding-bottom: 5px;
          transition: ease padding-bottom 0.3s;
        }
      }
    }
    .close-btn {
      display: inline-block;
      cursor: pointer;
      margin-top: 15px;
      // position: relative;
      // top: 10px;
      // right: 5px;
    }
  }
}
