$placeholder: #5d40fb;
.head {
  display: flex;
  flex-direction: column;

  background-color: $placeholder;

  color: white;

  height: 125px;

  align-items: center;
  justify-content: center;

  padding: 5px 15px 5px;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  a {
    color: white;
    text-decoration: none;
  }

  .did {
    background-color: darken($placeholder, 10%);
  }

  .logo-container {
    display: block;
    text-align: center;
    width: 100%;
    .logo {
      display: block;
      width: 100%;
    }
  }
  .image-container {
    position: relative;
    top: 50px;
    .avatar {
      svg,
      img {
        border: 3px solid white;
        border-radius: 50px;
      }
      img {
        height: 65px;
        width: 65px;
      }
    }
  }
  .avatar {
    margin-bottom: 20px;
  }
  .head-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
    margin: 10px 0;
    .details {
      font-size: 13px;
      font-weight: 500;
      a {
        border-bottom: 1px solid white;
        padding-bottom: 3px;
        transition: ease padding-bottom 0.3s;
        &:hover {
          padding-bottom: 5px;
          transition: ease padding-bottom 0.3s;
        }
      }
    }
    .close-btn {
      display: inline-block;
      cursor: pointer;
      position: relative;
      top: 10px;
      right: 5px;
    }
  }
}
