@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('DM Sans Regular'), local('DMSans-Regular'),
    url('./fonts/DMSans-Regular.woff2') format('woff2'),
    url('./fonts/DMSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('DM Sans Medium'), local('DMSans-Medium'),
    url('./fonts/DMSans-Medium.woff2') format('woff2'),
    url('./fonts/DMSans-Medium.woff') format('woff');
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #fff;
}
