$placeholder: #5d40fb;

@font-face {
  font-family: Segment;
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Segment Regular'), local('Segment-Regular'),
    url('../../fonts/Segment-Regular.woff2') format('woff2'),
    url('../../fonts/Segment-Regular.woff') format('woff');
}
@font-face {
  font-family: Segment;
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Segment Medium'), local('Segment-Medium'),
    url('../../fonts/Segment-Medium.woff2') format('woff2'),
    url('../../fonts/Segment-Medium.woff') format('woff');
}
@font-face {
  font-family: Segment;
  font-style: normal;
  font-weight: 600;
  font-display: fallback;
  src: local('Segment SemiBold'), local('Segment-SemiBold'),
    url('../../fonts/Segment-SemiBold.woff2') format('woff2'),
    url('../../fonts/Segment-SemiBold.woff') format('woff');
}

@mixin slide {
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.App {
  overflow: hidden;
  text-align: center;
  width: 100vw;
  height: 100vh;

  @include slide;
  animation-name: slideInFromTop;
}

.btn {
  display: inline-block;
  text-align: center;

  padding: 13px 20px;
  border-radius: 10px;

  background-color: #333;
  color: white;

  cursor: pointer;

  transition: ease background-color 0.3s;

  &:hover {
    transition: ease background-color 0.3s;
    background-color: darken($placeholder, 5%);
  }
}
