$placeholder: #5d40fb;

.modal {
  transition: ease 0.3s all;
  background-color: white;
  position: fixed;
  top: 15px;

  $width: 450px;

  width: 25%;

  min-width: ($width/2);
  max-width: $width;

  right: calc(50vw - 10%);

  margin: 0;

  border-radius: 15px;

  display: flex;
  flex-direction: column;

  font-family: 'Segment', sans-serif;
  font-size: 15px;

  box-shadow: 4px 6px 19px 5px rgba(0, 0, 0, 0.49);
}

.logo_control {
  text-decoration: none;
}
