@import './variables.scss';

h1,
h2,
h3,
h4,
h5,
h6,
button,
p, {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

button {
  width: 100%;
  height: 40px;
  border-radius: $radius;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  &:active:focus {
    outline: none !important;
    border: none;
  }

  &:active {
    outline: none !important;
    border: none;
  }

  &:focus {
    outline: none !important;
    border: none;
  }

  svg {
    width: 24px;
    height: 24px;
    margin-left: 6px;
  }
}

.primaryButton {
  color: white;
  background-color: black;
  border: none;
  font-weight: 300;
  box-shadow: none;
  font-size: 13px;
}

.secondaryButton {
  color: $textColor;
  background-color: white;
  border: none;
  margin: 5px 0px 10px 0px;
  font-weight: 300;
  box-shadow: none;
  font-size: 13px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.card {
  width: 380px;
  border: 1px solid $borderColor;
  border-radius: $radius;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 4px 10px 1px #00000025;
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

@mixin slide {
  animation-duration: 0.7s;
  animation-timing-function: ease-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
}

.slideLeft {
  @include slide;
  animation-name: slideInFromLeft;
}

.slideBottom {
  @include slide;
  animation-name: slideInFromBottom;
}


.cardMobile {
  width: 100vw !important;
  height: 100vh !important;
  justify-content: flex-start !important;
  margin-top: 20px !important;
  margin-left: 0px !important;
}

.content {
  width: 100%;
}

.contentMobile {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
}

.controls {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px;

  .return {
    padding: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  .controls_logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    svg {
      height: 25px;
      width: 25px;
      cursor: pointer;
      // transition: $transition;

      &:hover {
        opacity: 1;
      }
    }

    span {
      margin-left: 15px;
      font-weight: 600;
      color: $textColor;
      font-size: 14px;
    }
  }

  .headerLeft {
    font-weight: 300;
    color: $textColor;
    font-size: 13px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      color: $textColor;
    }

    a:hover {
      cursor: pointer;
      color: black;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.walletSelect_error {
  color: $errorRed;
  font-size: 13px;
  font-weight: 600;
  height: 50px;
  text-align: center;
}

.actions {
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px 0px 20px;
  position: relative;
}

.promptBox {
  padding: 20px;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promptText {
  padding: 10px 30px 25px 30px;

  .primaryText {
    color: #63686d;
    font-weight: 600;
    font-size: 15px;
  }

  .subText {
    font-weight: 400;
    color: $textColor;
    font-size: 13px;
  }
}